<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Live TX web</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="5" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/live">Live</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/output">Output</a></li>
					<li><a href="/tx">TX</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>
				<span th:text="'LIVE ID: #' + ${id}"></span>
			</h1>
			<table border="0">
				<tr>
					<td align="right"><h2>
							<span th:text="'===' + ${buffer}"></span> 
							<span style="color: BLUE">[?]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</h2></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">
						<h2><span th:text="'('+${size0} + ') ' + ${input0}"></span><span style="color: BLUE">[X][T]</span></h2>
					</td>
					<td>
						<h2><span style="color: GREEN" th:text="' ==> ['+${xRate0} + '%] ['+${tRate0} +'%]'"></span>
						<span style="color: DarkGray" th:text="'('+${xCount0} +') ('+${tCount0}+')'"></span></h2>
					</td>
				</tr>
				<tr>
					<td align="right">
						<h2><span th:text="'('+${size1} + ') ' + ${input1}"></span><span style="color: BLUE">[X][T]</span></h2>
					</td>
					<td>
						<h2><span style="color: GREEN" th:text="' ==> ['+${xRate1} + '%] ['+${tRate1} +'%]'"></span>
						<span style="color: DarkGray" th:text="'('+${xCount1} +') ('+${tCount1}+')'"></span></h2>
					</td>
				</tr>
				<tr>
					<td align="right">
						<h2><span th:text="'('+${size2} + ') ' + ${input2}"></span><span style="color: BLUE">[X][T]</span></h2>
					</td>
					<td>
						<h2><span style="color: GREEN" th:text="' ==> ['+${xRate2} + '%] ['+${tRate2} +'%]'"></span>
						<span style="color: DarkGray" th:text="'('+${xCount2} +') ('+${tCount2}+')'"></span></h2>
					</td>
				</tr>
				
			</table>
			
			<h4>
				<span th:text="'Độ dài chuỗi thử: ' + ${sizes}"></span>
			</h4>
			<h4>
				<span th:text="'Thời điểm cuối lấy kết quả: ' + ${time}"></span>
			</h4>

		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>